name: Terraform PR CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Terraform Init
        run: terraform init -input=false

      - name: Slack Notify (Validate Result)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          PR_URL: ${{ github.event.pull_request.html_url }}
          PR_TITLE: ${{ github.event.pull_request.title }}
          PR_AUTHOR: ${{ github.event.pull_request.user.login }}
          VALIDATE_STATUS: ${{ steps.validate.outcome }}
        run: |
          RESULT=$(sed 's/"/\\"/g' validate.txt | head -c 3000)

          if [ "$VALIDATE_STATUS" = "success" ]; then
            STATUS_TEXT="SUCCESS"
          else
            STATUS_TEXT="FAILED"
          fi

          curl -X POST -H 'Content-type: application/json' \
            --data "{
              \"text\": \"*Terraform Validate ${STATUS_TEXT}*\n*PR:* <${PR_URL}|${PR_TITLE}>\n*Author:* ${PR_AUTHOR}\n\n\`\`\`\n${RESULT}\n\`\`\`\"
            }" \
            $SLACK_WEBHOOK_URL
